body {
	font-family: 'Lato', sans-serif !important;
}

.header-fixed {
	position: fixed;
	width: 100%;
	z-index: 9999;
	padding-bottom: 50px;
}

.content-mobile {
	display: none;
}

label.error {
	color: #d9534f;
	font-size: 10pt;
}

@media only screen and (max-width: 768px) {
	.content-desktop {
		display: none;
	}
	.content-mobile {
		display: block;
	}
}

.container-main h1 {
	font-weight: 400;
	font-size: 24pt;
	margin-top: 60px;
}

.container-main p {
	font-weight: 400;
	font-size: 14pt;
	color: #fff;
}

@media screen and (max-width: 480px){
	.container-main h1 {
		margin-top: -80px;
	}
	.container-main p {
		font-size: 11pt;
	}
	.profile-page .card-profile {
		margin-top: -350px;
	}
	.profile-page .card-profile .card-profile-image img {
		position: absolute;
		left: 10%;
		max-width: 80px;
		transition: all .15s ease;
		transform: translate(-50%, -30%);
		border-radius: .25rem;
	}
	.profile-page .card-profile h3 {
		top: 10px;
		position: absolute;
		left: 110px;
		font-size: 14pt;
		text-align: left !important;
	}
	.profile-page .card-profile h3 span {
		font-size: 10pt !important;
	}
	.profile-page .card-profile hr {
		margin-top: 5px;
		margin-bottom: 5px;
	}
	.profile-page .card-profile .card-profile-stats > div .heading {
		font-size:12pt;
	}
	.profile-page .card-profile .col-liked {
		position: absolute;
		top:43px;
	}
	.footer-gabung {
		position: fixed;
		bottom: 0;
		width: 100%;
	}
	.footer-gabung a.btn {
		background-color: #fff;
		border-radius: 0;
		color: #3b5998;
	}
}

body.backimg {
	/*background-image: url('https://orbitjogja.org/wp-content/uploads/2018/10/WhatsApp-Image-2018-10-09-at-09.30.03.jpeg'); */
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	background-color: #e5e5e5;
}

.container .container-main {
	margin-top: 200px;
}

@media (min-width: 992px) {
	.mt--400 {
		margin-top: -400px !important;
	}
}

/*Vertical Steps*/
.list-group.vertical-steps{
	padding-left:10px;
}
.list-group.vertical-steps .list-group-item{
	border:none;
	border-left:3px solid #ece5dd;
	box-sizing:border-box;
	border-radius:0;
	counter-increment: step-counter;
	padding-left:20px;
	padding-right:0px;
	padding-bottom:20px;  
	padding-top:0px;
}
.list-group.vertical-steps .list-group-item.active{
	background-color:transparent;
	color:inherit;
}
.list-group.vertical-steps .list-group-item:last-child{
	border-left:3px solid transparent;
	padding-bottom:0;
}
.list-group.vertical-steps .list-group-item::before {
	border-radius: 50%;
    background-color: #ece5dd;
    color: #555;
    content: counter(step-counter);
    display: inline-block;
    float: left;
    height: 40px;
    line-height: 25px;
    margin-left: -42px;
    text-align: center;
    width: 40px;
    padding: 8px;
}
.list-group.vertical-steps .list-group-item h5,
.list-group.vertical-steps .list-group-item span,
.list-group.vertical-steps .list-group-item a{
	display:block;
	overflow:hidden;
	padding-top:0px;
	margin-left: 20px;
}
/*Active/ Completed States*/
.list-group.vertical-steps .list-group-item.active::before{
	background-color:#5cb85c;
	color:#fff;
}
.list-group.vertical-steps .list-group-item.completed{
	border-left:3px solid #5cb85c;
}
.list-group.vertical-steps .list-group-item.completed::before{
	background-color:#5cb85c;
	color:#fff;
}
.list-group.vertical-steps .list-group-item.completed:last-child{
	border-left:3px solid transparent;
}

.breadcrumb-2 {
	background-color: none;
}

.table-sm tr td,
.table-sm tr td a p {
	font-size: 10pt;
	color: #000;
}

.table-sm tr td a p {
	overflow: hidden; 
	white-space: nowrap; 
	text-overflow: ellipsis;
}

.table-sm tr td a.btn {
	font-size: 9pt !important;
	margin-bottom: 5px;
	margin-top: 5px;
}
.card-send hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

@media screen and (max-width: 480px) {
	.card-send {
		margin-top: -360px;
	}

	.card-send h5 {
		overflow: hidden; 
		white-space: nowrap; 
		text-overflow: ellipsis;
	}

	
}

.myAlert-top{
	position: fixed;
	z-index: 999;
    top: 25px; 
    right:2%;
    width: 350px;
}

.ui-menu .ui-menu-item{
	padding-left: 2px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.ui-menu .ui-menu-item a.link-user{
	font-family: Lato;
}

a.link-user:hover{
	background-color:transparent;
	color: #555;
}

ul.ui-menu li.ui-menu-item a.link-user{
	padding: 10px;
}

.search-user{
	width: 380px;
	height:35px;
}

.search-user input.form-control{
	height: 35px;
}

.search-user .input-group-append button{
	padding:7px;
}

@media screen and (max-width: 480px){
	.search-user{
		width: 100%;
		height:31px;
	}
	
	.search-user input.form-control{
		height: 31px;
	}

	.ui-menu .ui-menu-item a.link-user{
		font-size: 10pt;
	}

	.search-user .input-group-append button{
		padding:5px;
	}

	.ui-widget.ui-widget-content {
		width: 100% !important;
		left: 0 !important;
		top:60px !important;
		background-color: rgba(255, 255, 255, 0.9);
	}
}